{% extends "base.html" %}

{% block lab %}Лабораторная работа 3{% endblock %}

{% block main %}
    <h2>Ваш железнодорожный билет</h2>
    <div>
        <div>ФИО пассажира:{{ fio }}</div> 
        <div>Возраст: {{ age }} </div>
        <div>Полка: {{ bunk }} </div>
        <div>С бельём: {{ 'Да' if bedding else 'Нет' }} </div>
        <div>С багажом: {{ 'Да' if baggage else 'Нет' }} </div>
        <div>Пункт выезда: {{ departure }} </div>
        <div>Пункт назначения: {{ destination }} </div>
        <div>Дата поездки: {{ date }} </div>
        <div>Страховка: {{ 'Да' if insurance else 'Нет' }} </div>
        <div>Стоимость: {{ price }} рублей </div>
        <div>Тип билета: {{ 'Детский' if age < 18 else 'Взрослый' }} </div>
    </div>
{% endblock %}