<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ирина Проскурякова. {% block lab %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/lab1/main.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='/lab1/favicon.ico') }}" type="image/x-icon">
    {% block script %}{% endblock %}
</head>
<body>
    <header>
        WEB-программирование, часть 2. {{ self.lab() }}
    </header>

    <main>
        {% block main %}{% endblock %}
    </main>
    
    <footer>
        &copy; Ирина Проскурякова, ФБИ-24, 3 курс, 2024
    </footer>
</body>
</html>